body{
    background-color: rgb(255, 130, 203);
}
.menu{
    background-color: rgb(65, 204, 204);
    height: 200px;
    width: 100%;
}
.principal{
    background-color: rgb(207, 111, 199);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal h1{
    font-family:'Under Script', sans-serif;
    font-size: 90px;

}

h1{
    color: rgb(242, 247, 247);
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.tabela
    {background-color: rgb(53, 207, 207);
    height: 200px;
    width: 700px;
    border-radius: 20px;
    padding: 20px;
}

    .formulario{
        background-color: rgb(61, 207, 207);
        height: 200px;
        width: 700px;
        border-radius: 20px;
    }